:root {
  --primary: #fff;
}

.btn1 {
  padding: 8px 20px;
  outline: none;
  border: none;
  cursor: pointer;

  
}

.btn--primary1 {
  background-color: var(--primary);
  color: #242424;
  border: 1px solid var(--primary);
}

.btn--outline1 {
  background-color: transparent;
  color: #fff;
  padding: 8px 20px;
  transition: all 0.5s ease-out;
}

.btn--medium1 {
  padding: 8px 20px;
  font-size: 2.5vw;
}

.btn--large1 {
  max-width:840px;
  font-size: 25px;
  align-items: center;
  text-align: center;
  flex-direction: column;
  position: relative;

}



.btn--large1:hover,
.btn--medium1:hover {
  transition: all 0.3s ease-out;
  background: #EA5837;
  color: #242424;
}





