
$border: black;
@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/mixins";

// Config vars
$ruh-red: #D1161F;
$ruh-red-invert: #fff;
$ruh-dark: #363636;

$primary: $ruh-red;
$primary-invert: $ruh-red-invert;
$primary-dark: $ruh-dark;
$footer-background-color: $ruh-red-invert;
$footer-padding: 1rem 1rem 1rem;

// $card-shadow: 0 2px 3px rgba($ruh-dark, 1.0), 0 0 0 2px rgba($ruh-dark, 1.0);

$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

.content .taglist {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 1.5rem;
  margin-top: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  li {
    padding: 0 2rem 1rem 0;
    margin-bottom: 1.5rem;
    margin-top: 0;
  }
}

* {
  font-family: Roboto, Open Sans;
}

header {
  .subtitle {
    line-height: 1.2;
  }
}

.footer {
  .icon {
    margin: .5em;
  }
}

.card {
  margin: 0 auto;
}

.tile {
  .image {
    transform: translateY(-50%);
    top: 50%;
  }
  @include mobile() {
    .image {
      transform: initial;
    }
  }
}

.has-border {
  border: 1px solid white;
  border-width: 0 1px 0 0;
  @include mobile() {
    border-width: 0 0 1px 0;
  }
}

// Helper Classes
.full-width-image-container {
  width: 100vw;
  height: 400px;
  position: relative;
  left: 50%;
  right: 50%;
  margin: 5em -50vw;
  background-size: cover;
  background-position: bottom;
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-top-0 {
  margin-top: 0 !important;
}

@import "~bulma";
